= link_to "#{@post.user_name}", user_path(@post.user.id)
= "#{@post.created_at.strftime("posted on %b %d, %Y at %H:%M")}"
%h3= @post.title
%p= markdown(@post.body)
- if can? :edit, @post
  %button.btn.btn-default= link_to 'Edit', edit_post_path(@post)
  %button.btn.btn-default= link_to 'Destroy', post_path(@post), |
            method: :delete,                    |
            data: { confirm: 'Are you sure?' }  |
= render 'disqus'