%div.row
  %div.col-sm-12.col-md-10.col-lg-9.col-md-offset-1
    -if @post.approved || (can? :edit, @post)
      %h3= @post.title
      = link_to "#{@post.user_name}", user_path(@post.user.id)
      = "#{@post.created_at.strftime("posted on %b %d, %Y at %H:%M")}"
      %p= markdown(@post.body)
      %div
        - if can? :edit, @post
          = link_to 'Edit', edit_post_path(@post), class: "btn btn-warning"
          = link_to 'Destroy', post_path(@post), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }
          - if can? :approve, @post
            = link_to ( @post.approved ? "Reject" : "Approve"), approve_post_path(@post), class: (@post.approved ? "btn btn-reject" : "btn btn-success") 
      = render 'disqus'
    -else
      %h1= "not approved yet"