= link_to "#{@post.user.name}", user_path(@post.user.id)
= "#{@post.created_at.strftime("posted on %b %d, %Y at %H:%M")}"
%h3= @post.title
%p= markdown(@post.body)
- if can? :edit, @post
  %button.btn.btn-default= link_to 'Edit', edit_post_path(@post)
%h3
  Comments (#{@post.comments.count})
= render @post.comments
- if user_signed_in?
  %h2 Add a comment:
  = render 'comments/form', :post => @post