%div.social-buttons
  = link_to user_omniauth_authorize_path(:facebook), :class => "btn btn-block btn-social btn-facebook" do
    %span.fa.fa-facebook 
    Sign in with Facebook
  = link_to user_omniauth_authorize_path(:linkedin), :class => "btn btn-block btn-social btn-linkedin" do
    %span.fa.fa-linkedin 
    Sign in with Linkedin
  = link_to user_omniauth_authorize_path(:google_oauth2), :class => "btn btn-block btn-social btn-google-plus" do
    %span.fa.fa-google-plus 
    Sign in with Google
  = link_to user_omniauth_authorize_path(:vkontakte), :class => "btn btn-block btn-social btn-vk" do
    %span.fa.fa-vk 
    Sign in with Vkontakte
  = link_to user_omniauth_authorize_path(:twitter), :class => "btn btn-block btn-social btn-twitter" do
    %span.fa.fa-twitter 
    Sign in with Twitter