!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Blog"
    %meta{:content => "#{content_for?(:description) ? yield(:description) : "Blog"}", :name => "description"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container-fluid
      = render 'layouts/header'
      .scroll-top.hidden-xs
        .arrow-up
      .container
        .row
          = render 'layouts/messages'
          .col-md-8.col-md-offset-1.col-xs-12
            = yield
          .col-md-3.col-xs-hidden
            = render 'layouts/right_column'
        = render 'layouts/footer'
